html {
    min-height: 100vh;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.content {
    display: grid;
    padding: 2% 3% 0
}

/* Blur effect for popups messages*/
.blur {
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

/*Header */
header {
    padding: 3% 4%;
    border: solid 1px rgb(235, 211, 211);
    border-bottom: 0;
    border-radius: 6px 6px 0 0;
    width: 100%;
    background-color: rgb(128, 107, 133);
    color: aliceblue;
}

/* Main content*/
.main {
    display: grid;
    grid-template: 75vh / 1fr 3fr;
    border: solid 1px rgb(202, 202, 202);
    border-top: 0;
    font-family: 'Kanit', sans-serif;
}

/*Aside Bar */
aside {
    display: grid;
    padding: 10%;
    gap: 4%;
    grid-template: repeat(4, 5%) / 1fr;
    align-items: flex-start;
    background-color: rgb(249, 255, 197);
    color: rgb(128, 107, 133);
}

aside>div {
    cursor: pointer;
}

.side_bar_element:hover {
    color: rgb(210, 158, 223);
}

aside p {
    font-size: 1.8rem;
}

.projects_names {
    margin-top: -6%;
}

.project_name {
    font-size: 1.4rem;
    padding-left: 8%;
    opacity: 0;
    cursor: default;
    transition: all 0.5s;
}

.project_name:hover {
    color: rgb(210, 158, 223);
}

.show {
    opacity: 1;
    cursor: pointer;
}

aside #add_todo_button {
    align-self: flex-end;
    justify-self: flex-end;
    font-size: 3rem;
    width: 30%;
    background-color: rgb(161, 113, 173);
    border: solid 1px rgb(201, 201, 201);
    border-radius: 20px;
    padding: 2% 0;
    color: aliceblue;
    cursor: pointer;
}

aside #add_todo_button:hover {
    background-color: rgb(94, 56, 104);
}


/* Todo List Display*/
.display {
    display: grid;
    grid-template: 8% / 1fr;
    padding: 0 4% 0;
    overflow-y: auto;
    background-color: rgb(236, 236, 227);
}

.display h3 {
    display: grid;
    align-items: center;
    padding: 2% 0;
    font-size: 1.4rem;
}

.add_to_do {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.to_do_list {
    display: grid;
    gap: 1%;
    grid-template: repeat(auto-fill, 5%) / 1fr;
    align-items: center;
    font-size: 1rem;
}

/*Todo elements*/
.to_do_content {
    display: grid;
    grid-template: 1fr / 7fr 1.5fr 0.4fr 0.4fr;
    border: solid 1px aliceblue;
    border-radius: 6px;
    background-color: aliceblue;
    padding: 0 0 0 2%;
}

.to_do_content.cross_out {
    background-color: rgb(196, 199, 199);
}

.to_do_content.cross_out p {
    text-decoration: line-through wavy rgb(117, 50, 50);
}

.to_do_content button {
    background-color: rgb(192, 153, 202);
    border: solid 1px aliceblue;
    color: aliceblue;
    border-radius: 6px;
    cursor: pointer;
}

.to_do_content button:hover {
    border-color: blueviolet;
}

/*Checkbox */
#done {
    appearance: none;
    background-color: rgb(192, 153, 202);
    border: solid 1px aliceblue;
    color: aliceblue;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    display: grid;
    align-items: center;
}

#done::before {
    content: "✔";
    visibility:hidden;
}

#done:checked::before {
    visibility: visible;
}


/*"Add Todo" Popup*/
.popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    background-color: rgb(195, 176, 212);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border: solid 1px aliceblue;
}

.popup label {
    font-size: 1.5rem;
    color: aliceblue;
    margin: 1% 0;
}

.popup input {
    padding: 2%;
    border: solid 1px aliceblue;
    border-radius: 6px;
    font-size: 1rem;
}

.popup .buttons {
    align-self: flex-end;
    display: flex;
    gap: 2%;
    width: 100%;
    justify-content: flex-end;
}

.buttons button {
    font-size: 1.5rem;
    background-color: rgb(161, 113, 173);
    border: solid 1px rgb(201, 201, 201);
    border-radius: 6px;
    padding: 2% 5%;
    color: aliceblue;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgb(94, 56, 104);
}


.popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
}